In [33]:
conjunto = {1,2,3}

In [34]:
conjunto.add(0)
conjunto

{0, 1, 2, 3}

In [36]:
conjunto.add('h')
conjunto

{0, 1, 2, 3, 'h'}

In [37]:
conjunto.add('A')

In [38]:
conjunto

{0, 1, 2, 3, 'A', 'h'}

In [43]:
grupo = {'carlos', 'camilo','mario'}
'camilo' in grupo

True

In [52]:
lista = [1,2,2,3,3,4,5,5]
print (lista)
cambioagrupo = set (lista)
print (cambioagrupo)
cambioalist = list (cambioagrupo)
print (cambioalist)
listanueva = list(set(lista))
print (listanueva)

[1, 2, 2, 3, 3, 4, 5, 5]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [61]:
s = (3,45,67,678,78,45,67,3,3,3,3)
a = set (s)
print (a)
l = list (a)
print (l)

{67, 3, 678, 45, 78}
[67, 3, 678, 45, 78]